@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.catalogo-titulo {
        font-family: "Bebas Neue", sans-serif;
        font-size: 50px;
        color: white;
        font-weight: 500;
        align-items: center;
        padding-left: 570px;
        padding-top: 30px;
        padding-bottom: 50px;
}

.catalogo-todos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 240px;
}

.hqs {
    text-align: center;
}

.hqs img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

