@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-josefin: "Josefin Sans", sans-serif;
    --font-bebas: "Bebas Neue", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: rgb(26, 26, 26);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #96221A;
    border-radius: 10px;
}

header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #96221A;
    color: #ffff;
    font-family: var(--font-bebas);
}


a{
    color: white;
    font-size: 1.2rem;
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

ul h1 {
    font-size: 1.8rem;
}

#Home{
    background-color: black;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-josefin);
}


#text-home{
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.4rem;
    text-align: justify;
}

#text-home h1{
    font-size: 1.8rem;
}

#text-home button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #96221A;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.title-home {
    color: #96221A;
}

#img-home img {
    width: 600px;
    align-self: start;
    filter: drop-shadow(0px 0px 5px #96221A);
}

#input-search {
    height: 45px;
    width: 400px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: #000000;
    border: 2px solid #96221A;
}

#sobre{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-josefin);
}

#subcontainer-sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 90%;
}


#img-sobre img{
    max-width: 400px;
}

#text-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 40%;
    border-right: 2px solid #96221A;
    border-left: 2px solid #96221A;
    padding: 4%;
}

#text-sobre p {
    font-size: 1.2rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 120px;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #96221A;
    border-radius: 20px;
    transition: 1s ease;
}

.btn:hover{
    transform: scale(1.1);
}

#catalogo{
    height: 540vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2rem;
    font-family: var(--font-josefin);
    overflow-x: hidden;

}

.container-personagens{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
}

.subcontainer-personagens{
    display: flex;
    position: relative;
    height: 60vh;
}

.subcontainer-personagens img{
    width: 550px;
    filter: drop-shadow(0px 0px 10px #96221A);
}

.name-personagem {
    position: absolute;
    top: 50%;
    width: 770px;
    font-size: 10rem;
    color: white;
    font-family: var(--font-bebas);
}

.letter-transparent{
    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.text-personagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    gap: 20px;
    width: 50%;
    font-size: 1.3rem;
}

.text-personagem h1 {
    color: #96221A;
    font-size: 2rem;
}

#iron-man{
    flex-direction: row-reverse;
}

#name-iron-man {
    width: 100%;
}

#hulk img{
    filter: drop-shadow(0px 0px 5px rgba(172, 231, 194, 0.542));
}

#text-hulk h1{
    color: rgba(20, 102, 20, 0.718);
}

#name-hulk{
    left: 60%;
}

#batman{
    flex-direction: row-reverse;
}

#name-batman{
    width: 100%;
}

#batman img{
    filter: drop-shadow(0px 0px 5px rgba(172, 209, 231, 0.542));
}

#text-batman h1 {
    color: rgba(172, 209, 231, 0.542);
}

#coringa img{
    filter: drop-shadow(0px 0px 5px rgba(49, 94, 48, 0.542));
}

#text-coringa h1 {
    color: rgba(49, 94, 48, 0.74);
}

#flash{
    flex-direction: row-reverse;
}



#name-flash{
    width: 100%;
}


#mais-lidos {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: var(--font-josefin);
}

#mais-lidos h1 {
    font-size: 2rem;
}

#container-mais-lidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    gap: 20px;
}

#btns-mais-lidos{
    display: flex;
    gap: 50px;
}

.btn-mais-lidos{
    height: 60px;
    width: 120px;
    border-radius: 12px;
    border: 2px solid #96221A;
    background-color: transparent;
    cursor: pointer;
}

#container-hqs {
    height: 110%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 10px;
}

.hqs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

#subcontainer-hqs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#subcontainer-hqs h3{
    width: 100%;
}

.hqs img{
    max-width: 180px;
}

.btn-hq {
    height: 50px;
    width: 80px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #2d2d2d;
}

#footer{
    padding: 20px;
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #96221A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 350px;
}

#footer img{
    display: flex;
    max-width: 550px;
    margin-bottom: 80px;
}


#sub-footer{
    height: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.btns-redes-fotter {
    display: flex;
    gap: 20px;
}

.btn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #000000;
    transition: 0.7s ease;
}

.btn-footer:hover{
    transform: scale(1.1);
}
